/*RESET*/
*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  margin: 0;
  padding: 0;
}

/*COMPONTENTS*/
/*COLORS*/
.wrapper {
  margin: 0 auto;
  width: 100%;
  max-width: 1200px;
}

.border {
  border: 2px solid black;
}

.button {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  background-color: black;
  padding: 1em;
  border-radius: 10px;
  letter-spacing: 1px;
  -webkit-transition: -webkit-transform .2s;
  transition: -webkit-transform .2s;
  transition: transform .2s;
  transition: transform .2s, -webkit-transform .2s;
}

.button:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

/*COLORS*/
/*MIXINS*/
/*COMMON CLASSES*/
html {
  font-size: 62.5%;
  scroll-behavior: smooth;
}

body {
  font-family: 'Montserrat', sans-serif;
  background-image: url("../img/Shiny Overlay.svg");
  background-size: cover;
}

.body-no-scroll {
  overflow-y: hidden;
}

/*NAVIGATION DESKTOP*/
.nav-desktop {
  display: none;
}

/*NAVIGATION MOBILE*/
.nav-mobile {
  position: fixed;
  top: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  padding: 5px;
  background-color: white;
  z-index: 100;
}

.nav-mobile__title {
  font-family: 'Qwitcher Grypen', cursive;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: flex-start;
  font-size: 2rem;
  padding: 2px;
  z-index: 1000;
}

.nav-mobile__button {
  z-index: 1000;
}

.nav-mobile__links {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: white;
  z-index: 10;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transform: translateX(-102%);
          transform: translateX(-102%);
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.nav-mobile__links--active {
  -webkit-transform: translateX(0);
          transform: translateX(0);
}

.nav-mobile__link {
  position: relative;
  display: inline-block;
  margin: 0.5em;
  padding: 0.5em;
  text-transform: uppercase;
  text-decoration: none;
  color: black;
  font-size: 2.4rem;
}

.nav-mobile__link:hover {
  color: white;
}

.nav-mobile__link::after, .nav-mobile__link::before {
  -webkit-transition: height .3s, color .5s;
  transition: height .3s, color .5s;
}

.nav-mobile__link::after {
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  height: 0;
  width: 100%;
  background-color: black;
  z-index: -100;
}

.nav-mobile__link:hover::after {
  height: 100%;
}

/*HEADER*/
.header {
  background-image: url("../img/header/header-mini.jpeg");
  height: 50vh;
  background-position: center;
  background-size: cover;
  mask-type: 77px;
}

/*MAIN*/
.main {
  margin: 2em auto;
  padding: 1em;
  display: -ms-grid;
  display: grid;
  gap: 2em;
  /*BLOG POST*/
  /*ALL-POSTS*/
  /*SIDEBAR*/
}

.main img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.main .blog-post {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  padding: 2em;
  margin-bottom: 2em;
}

.main .blog-post__img {
  position: relative;
  height: 30vh;
}

.main .blog-post__img::before {
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0.3);
}

.main .blog-post__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.main .blog-post__title {
  font-family: 'Aboreto', cursive;
  font-size: 2.3rem;
  margin-top: 0.3em;
}

.main .blog-post__date {
  color: rgba(128, 128, 128, 0.5);
}

.main .blog-post__text {
  font-size: 1.2rem;
}

.main .blog-post__more {
  margin-top: 1em;
}

.main .all-posts {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.main .all-posts a {
  margin: 0 0 3em;
  font-size: 1.2rem;
}

.main .sidebar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 2em;
  /*ABOUT-US*/
  /*COUNTRY*/
  /*CONTACT*/
}

.main .sidebar .about-us {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 2em;
}

.main .sidebar .about-us__title {
  font-family: 'Aboreto', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.main .sidebar .about-us__img {
  height: 20vh;
}

.main .sidebar .about-us__info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 1em;
}

.main .sidebar .about-us__text {
  font-size: 1.2rem;
}

.main .sidebar .country {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 2em;
}

.main .sidebar .country__title {
  font-family: 'Aboreto', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.main .sidebar .country__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.main .sidebar .country__box a {
  padding: 5px;
  text-decoration: none;
  font-size: 2.6rem;
}

.main .sidebar .contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 1em;
  padding: 2em;
}

.main .sidebar .contact__title {
  font-family: 'Aboreto', cursive;
  text-align: center;
  text-transform: uppercase;
  font-size: 2.3rem;
}

.main .sidebar .contact__box {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}

.main .sidebar .contact__box--container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .sidebar .contact__box--container a {
  color: black;
  font-size: 4rem;
  -webkit-transition: -webkit-transform .3s;
  transition: -webkit-transform .3s;
  transition: transform .3s;
  transition: transform .3s, -webkit-transform .3s;
}

.main .sidebar .contact__box--container a:hover {
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.main .sidebar .contact__box--container p {
  font-size: 1.2rem;
  line-height: 4rem;
  margin-left: 20px;
}

/*FOOTER*/
.footer {
  background-color: black;
  margin-top: 2em;
}

.footer__box--one {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.footer__box--two {
  background-color: black;
}

.footer__box--left, .footer__box--right {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 2em 0;
}

.footer__box--left a {
  text-decoration: none;
  text-transform: uppercase;
  color: white;
  font-size: 1.2rem;
  padding: 5px 0;
}

.footer__box--right {
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer__box--right i {
  color: white;
  font-size: 2.5rem;
  padding: 5px;
}

.footer__text {
  padding: 5px;
  text-align: center;
  color: white;
}

/*BREAKPOINTS*/
@media (min-width: 375px) {
  /*NAVIGATION MOBILE*/
  .nav-mobile {
    padding: 10px;
  }
  .nav-mobile__title {
    font-size: 2.2em;
  }
  /*MAIN*/
  .main {
    /*BLOG-POST*/
    /*SIDEBAR*/
  }
  .main .blog-post__title {
    font-size: 3rem;
  }
  .main .sidebar {
    margin-top: -1.4em;
    /*ABOUT-US*/
    /*COUNTRY*/
    /*CONTACT*/
  }
  .main .sidebar .about-us__title {
    font-size: 2.6rem;
  }
  .main .sidebar .country__box a {
    font-size: 4rem;
  }
  .main .sidebar .contact__box--container p {
    font-size: 1.5rem;
  }
}

@media (min-width: 576px) {
  /*NAVIGATION MOBILE*/
  .nav-mobile {
    padding: 15px;
  }
  .nav-mobile__title {
    font-size: 2.2em;
  }
  /*MAIN*/
  .main {
    /*BLOG-POST*/
    /*ALL-POSTS*/
    /*SIDEBAR*/
  }
  .main .blog-post__title {
    font-size: 4rem;
  }
  .main .blog-post__date {
    font-size: 1.5rem;
  }
  .main .blog-post__text {
    font-size: 1.4rem;
  }
  .main .blog-post__more {
    font-size: 1.1rem;
  }
  .main .all-posts a {
    font-size: 1.4rem;
  }
  .main .sidebar {
    /*CONTACT*/
  }
  .main .sidebar .contact__box--container a {
    font-size: 5rem;
  }
  .main .sidebar .contact__box--container p {
    font-size: 1.6rem;
    line-height: 5rem;
  }
  /*FOOTER*/
  .footer__box--one {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .footer__box--left a {
    font-size: 1.5rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
  }
  .footer__box--left a:hover {
    -webkit-transform: scale(1.1);
            transform: scale(1.1);
  }
  .footer__box--right i {
    font-size: 3.5rem;
    -webkit-transition: -webkit-transform .3s;
    transition: -webkit-transform .3s;
    transition: transform .3s;
    transition: transform .3s, -webkit-transform .3s;
    cursor: pointer;
  }
  .footer__box--right i:hover {
    -webkit-transform: scale(1.3);
            transform: scale(1.3);
  }
  .footer__text {
    font-size: 1.2rem;
    padding: 10px;
  }
}

@media (min-width: 768px) {
  /*NAVIGATION MOBILE*/
  .nav-mobile {
    display: none;
  }
  /*NAVIGATION DESKTOP*/
  .nav-desktop {
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 2;
        grid-template-rows: 2;
    margin-bottom: 2em;
    text-transform: uppercase;
    letter-spacing: 1px;
  }
  .nav-desktop a {
    text-decoration: none;
    color: black;
  }
  .nav-desktop__title {
    text-align: center;
    font-family: 'Qwitcher Grypen', cursive;
    font-size: 9rem;
    padding: 20px 0;
  }
  .nav-desktop__links {
    font-size: 1.5rem;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: space-evenly;
        -ms-flex-pack: space-evenly;
            justify-content: space-evenly;
    border-top: 2px solid black;
    border-bottom: 2px solid black;
    padding: 0.5em 0;
  }
  .nav-desktop__links a {
    position: relative;
    padding: 5px;
  }
  .nav-desktop__links a:hover {
    color: white;
  }
  .nav-desktop__links a::after, .nav-desktop__links a::before {
    -webkit-transition: height .3s, color .5s;
    transition: height .3s, color .5s;
  }
  .nav-desktop__links a::after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    height: 0;
    width: 100%;
    background-color: black;
    z-index: -100;
  }
  .nav-desktop__links a:hover::after {
    height: 100%;
  }
  /*HEADER*/
  .header {
    background-image: url("../img/header/header-big.jpeg");
  }
  /*MAIN*/
  .main {
    margin: 3em auto;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    /*BLOG-POSTS*/
    /*ALL-POSTS*/
    /*SDIEBAR*/
  }
  .main .blog-posts {
    -ms-grid-column: 1;
    -ms-grid-column-span: 2;
    grid-column: 1/3;
  }
  .main .blog-posts .blog-post__more {
    font-size: 1.2rem;
  }
  .main .all-posts a {
    font-size: 1.5rem;
    margin: 0;
  }
  .main .sidebar {
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-column: 3/4;
    /*COUNTRY*/
    /*CONTACT*/
  }
  .main .sidebar .country__box a {
    font-size: 2.5rem;
  }
  .main .sidebar .contact__box--container a {
    font-size: 4rem;
  }
  .main .sidebar .contact__box--container p {
    font-size: 1.1rem;
    line-height: 4rem;
  }
}

@media (min-width: 992px) {
  /*MAIN*/
  .main {
    /*SDIEBAR*/
  }
  .main .sidebar {
    /*COUNTRY*/
  }
  .main .sidebar .country__box a {
    font-size: 3.5rem;
  }
}

@media (min-width: 992px) {
  /*NAVIGATION DESKTOP*/
  .nav-desktop__title {
    font-size: 11rem;
  }
  /*MAIN*/
  .main {
    /*SIDEBAR*/
  }
  .main .sidebar {
    /*CONTACT*/
  }
  .main .sidebar .contact__box--container a {
    font-size: 5rem;
  }
  .main .sidebar .contact__box--container p {
    font-size: 1.5rem;
    line-height: 5rem;
  }
  /*FOOTER*/
  .footer__box--left a {
    font-size: 1.7rem;
  }
  .footer__box--right i {
    font-size: 5rem;
  }
  .footer__text {
    font-size: 1.5rem;
  }
}

@media (min-width: 1200px) {
  /*MAIN*/
  .main {
    padding: 0;
    /*SDIEBAR*/
  }
  .main .sidebar {
    /*COUNTRY*/
  }
  .main .sidebar .country__box a {
    font-size: 4.5rem;
  }
}
/*# sourceMappingURL=main.css.map */