@media(min-width: 576px) {

    /*NAVIGATION MOBILE*/
    .nav-mobile {
        padding: 15px;

        &__title {
            font-size: 2.2em;
        }
    }

    /*MAIN*/
    .main {

        /*BLOG-POST*/
        .blog-post {
            &__title {
                font-size: 4rem;
            }

            &__date {
                font-size: 1.5rem;
            }

            &__text {
                font-size: 1.4rem;
            }

            &__more {
                font-size: 1.1rem;
            }
        }

        /*ALL-POSTS*/
        .all-posts {

            a {
                font-size: 1.4rem;
            }
        }
    }

    /*FOOTER*/
    .footer {
        &__box {
            &--one {
                flex-direction: row;
            }

            &--left {
                a {
                    font-size: 1.5rem;
                    transition: transform .3s;

                    &:hover {
                        transform: scale(1.1);
                    }
                }
            }

            &--right {
                i {
                    font-size: 3.5rem;
                    transition: transform .3s;
                    cursor: pointer;

                    &:hover {
                        transform: scale(1.3);
                    }
                }
            }
        }

        &__text {
            font-size: 1.2rem;
            padding: 10px;
        }
    }
}

@media(min-width: 768px) {

    /*NAVIGATION MOBILE*/
    .nav-mobile {
        display: none;
    }

    /*NAVIGATION DESKTOP*/
    .nav-desktop {
        display: grid;
        grid-template-rows: 2;
        margin-bottom: 2em;
        text-transform: uppercase;
        letter-spacing: 1px;

        a {
            text-decoration: none;
            color: $black-color;
        }

        &__title {
            text-align: center;
            font-family: 'Qwitcher Grypen', cursive;
            font-size: 9rem;
            padding: 20px 0;
        }

        &__links {
            font-size: 1.5rem;
            display: flex;
            justify-content: space-evenly;
            border-top: 2px solid $black-color;
            border-bottom: 2px solid $black-color;
            padding: 0.5em 0;

            a {
                @include navHoverAnimation;
                padding: 5px;
            }
        }
    }

    /*HEADER*/
    .header {
        background-image: url('../img/header/header-big.jpeg');
    }

    /*MAIN*/
    .main {
        margin: 3em auto;
        grid-template-columns: repeat(3, 1fr);

        /*BLOG-POSTS*/
        .blog-posts {
            grid-column: 1/3;

            .blog-post {
                &__more {
                    font-size: 1.2rem;
                }
            }
        }

        /*ALL-POSTS*/
        .all-posts {

            a {
                font-size: 1.5rem;
                margin: 0;
            }
        }

        /*SDIEBAR*/
        .sidebar {
            grid-column: 3/4;

            /*COUNTRY*/
            .country {
                &__box {
                    a {
                        font-size: 2.5rem;
                    }
                }
            }
        }
    }
}

@media (min-width: 992px) {

    /*MAIN*/
    .main {

        /*SDIEBAR*/
        .sidebar {

            /*COUNTRY*/
            .country {
                &__box {
                    a {
                        font-size: 3.5rem;
                    }
                }
            }
        }
    }

}