@media(min-width: 375px) {

    /*MAIN*/
    .main {

        /*BLOG-POST*/
        .blog-post {
            &__title {
                font-size: 3rem;
            }
        }

        /*SIDEBAR*/
        .sidebar {
            margin-top: -1.4em;

            /*ABOUT-US*/
            .about-us {
                &__title {
                    font-size: 2.6rem;
                }
            }

            /*COUNTRY*/
            .country {
                &__box {
                    a {
                        font-size: 4rem;
                    }
                }
            }
        }
    }
}