@media(min-width: 375px) {

    /*NAVIGATION MOBILE*/
    .nav-mobile {
        padding: 10px;

        &__title {
            font-size: 2.2em;
        }
    }

    /*MAIN*/
    .main {

        /*BLOG-POST*/
        .blog-post {
            &__title {
                font-size: 3rem;
            }
        }

        /*SIDEBAR*/
        .sidebar {
            margin-top: -1.4em;

            /*ABOUT-US*/
            .about-us {
                &__title {
                    font-size: 2.6rem;
                }
            }

            /*COUNTRY*/
            .country {
                &__box {
                    a {
                        font-size: 4rem;
                    }
                }
            }

            /*CONTACT*/
            .contact {
                &__box {
                    &--container {
                        p {
                            font-size: 1.5rem;
                        }

                    }
                }
            }
        }
    }
}