/*RESET*/
@import './reset';

/*COMPONTENTS*/
@import './components';

/*COLORS*/
@import './colors';

/*MIXINS*/
@import './mixins';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
    background-image: url('../img/Shiny\ Overlay.svg');
    background-size: cover;
}

.body-no-scroll {
    overflow-y: hidden;
}

/*NAVIGATION DESKTOP*/
.nav-desktop {
    display: none;
}

/*NAVIGATION MOBILE*/
.nav-mobile {
    position: fixed;
    top: 0;
    display: flex;
    justify-content: space-between;
    width: 100%;
    padding: 5px;
    background-color: $white-color;
    z-index: 100;

    &__title {
        font-family: 'Qwitcher Grypen', cursive;
        display: flex;
        flex-direction: column;
        justify-content: flex-start;
        font-size: 2rem;
        padding: 2px;
        z-index: 1000;
    }

    &__button {
        z-index: 1000;
    }

    &__links {
        position: fixed;
        top: 0;
        left: 0;
        right: 0;
        bottom: 0;
        background-color: $white-color;
        z-index: 10;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        transform: translateX(-102%);
        transition: transform .3s;

        &--active {
            transform: translateX(0);
        }
    }

    &__link {
        @include navHoverAnimation;
        display: inline-block;
        margin: 0.5em;
        padding: 0.5em;
        text-transform: uppercase;
        text-decoration: none;
        color: $black-color;
        font-size: 2.4rem;
    }

}

/*HEADER*/
.header {

    &__img {
        position: relative;
        height: 50vh;
        background-image: url('../img/header/header-mini.jpeg');
        background-position: center;
        background-size: cover;
        background-attachment: fixed;
        z-index: -2;
    }

    &__allposts {
        background-image: url('../img/header/header-allposts.jpeg');
    }

    &__shadow {
        position: absolute;
        top: 0;
        bottom: 0;
        left: 0;
        right: 0;
        background-color: rgba(0, 0, 0, .3);
        z-index: -1;
    }
}

/*HEADER ALL POSTS*/
.header-allposts {
    background-image: url('../img/header/header-allposts.jpeg');
}

/*MAIN*/
.main {
    margin: 2em auto;
    padding: 1em;
    display: grid;
    gap: 2em;

    img {
        width: 100%;
        height: 100%;
        object-fit: cover;
    }

    /*BLOG POST*/
    .blog-post {
        display: flex;
        flex-direction: column;
        justify-content: space-evenly;
        padding: 2em;
        margin-bottom: 2em;

        &__img {
            position: relative;
            height: 30vh;

            &::before {
                content: '';
                position: absolute;
                width: 100%;
                height: 100%;
                top: 0;
                left: 0;
                background: rgba(0, 0, 0, .3);
            }
        }

        &__info {
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 1em;
        }

        &__title {
            font-family: 'Aboreto', cursive;
            font-size: 2.3rem;
            margin-top: 0.3em;
            text-align: center;
        }

        &__date {
            color: $grey-color;
        }

        &__text {
            font-size: 1.2rem;
        }

        &__more {
            margin-top: 1em;
        }
    }

    /*ALL-POSTS*/
    .all-posts {
        display: flex;
        justify-content: center;

        a {
            margin: 0 0 3em;
            font-size: 1.2rem;
        }
    }

    /*SIDEBAR*/
    .sidebar {
        display: flex;
        flex-direction: column;
        gap: 2em;

        /*ABOUT-US*/
        .about-us {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 2em;

            &__title {
                font-family: 'Aboreto', cursive;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.3rem;
            }

            &__img {
                height: 20vh;
            }

            &__info {
                display: flex;
                flex-direction: column;
                align-items: center;
                gap: 1em;
            }

            &__text {
                font-size: 1.2rem;
            }
        }

        /*COUNTRY*/
        .country {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 2em;

            &__title {
                font-family: 'Aboreto', cursive;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.3rem;
            }

            &__box {
                display: flex;
                justify-content: space-evenly;

                a {
                    padding: 5px;
                    text-decoration: none;
                    font-size: 2.6rem;
                }

            }
        }

        /*CONTACT*/
        .contact {
            display: flex;
            flex-direction: column;
            gap: 1em;
            padding: 2em;

            &__title {
                font-family: 'Aboreto', cursive;
                text-align: center;
                text-transform: uppercase;
                font-size: 2.3rem;
            }

            &__box {
                display: flex;
                flex-direction: column;
                align-items: flex-start;

                &--container {
                    display: flex;

                    a {
                        color: $black-color;
                        font-size: 4rem;
                        transition: transform .3s;

                        &:hover {
                            transform: scale(1.1);
                        }
                    }

                    p {
                        font-size: 1.2rem;
                        line-height: 4rem;
                        margin-left: 20px;
                    }

                }
            }
        }
    }
}

/*FOOTER*/
.footer {
    background-color: $black-color;
    margin-top: 2em;

    &__box {
        &--one {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
        }

        &--left,
        &--right {
            display: flex;
            flex-direction: column;
            align-items: center;
            padding: 2em 0;
        }

        &--left {
            a {
                text-decoration: none;
                text-transform: uppercase;
                color: $white-color;
                font-size: 1.2rem;
                padding: 5px 0;
            }
        }

        &--right {
            flex-direction: row;
            justify-content: center;

            i {
                color: $white-color;
                font-size: 2.5rem;
                padding: 5px;
            }
        }
    }

    &__text {
        padding: 5px;
        text-align: center;
        color: $white-color;
    }
}

/*BREAKPOINTS*/
@import './small';
@import './medium';
@import './large';