/*RESET*/
@import './reset';

/*COMPONTENTS*/
@import './components';

/*COMMON CLASSES*/
html {
    font-size: 62.5%;
    scroll-behavior: smooth;
}

body {
    font-family: 'Montserrat', sans-serif;
}

/*NAVIGATION DESKTOP*/
.nav-desktop {
    display: grid;
    grid-template-rows: 2;
    margin-bottom: 2em;

    a {
        text-decoration: none;
        color: black;
    }

    &__title {
        text-align: center;
        font-family: 'Aboreto', cursive;
        font-size: 12rem;
        padding: 20px 0;
    }

    &__links {
        font-size: 1.5rem;
        display: flex;
        justify-content: space-evenly;
        border-top: 2px solid black;
        border-bottom: 2px solid black;
        padding: 0.5em 0;

        a {
            padding: 5px;
        }
    }
}

/*NAVIGATION MOBILE*/

/*HEADER*/
.header {
    background-image: url('../img/header/header\ example.jpeg');
    height: 50vh;
    background-position: center;
    background-size: cover;
}

/*MAIN*/


/*FOOTER*/
.footer {
    background-color: black;
    height: 100px;
    margin-top: 2em;
}